.home {
    height: 100vh;
    width: 85.25rem;
    background-color: black;
    background-image: url("../../assets/pexels-negative-space-34153 1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.description {
    display: inline-block;
    color: white;
    position: relative;
    transform: translateX(30rem) translateY(20rem);
}

h1 {
    padding: 1.25rem 0px;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.name {
    display: flex;
}

.harsh {
    color: yellow;
    padding-left: 0.70rem;
}