* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 80rem;
  display: flex;
  justify-content: space-between;
}

video {
  transform: translateX(90%) translateY(10%);
  width: 31rem;
  max-width: 85%;
}

.main-content {
  width: 80rem;
  background-color: black;
  height: 100vh;
}
