.experience {
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    width: 80rem;
}

.experience-header {
    color: white;
    margin-bottom: 3.125rem;
    font-size: 3.75rem;
}

.experience-box {
    border: 2px #FFE900 solid;
    border-radius: 3.125rem;
    margin-left: 17.5rem;
    width: 50rem;
    height: 25rem;
    background-color: #373737;
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.experience-text {
    color: white;
    margin: 1.875rem;
}

.experience-tech {
    margin-top: 1.5625rem;
}

.experience-tech-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience-responsibilities {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 300;
}

.experience-tech-name {
    margin-left: 5px;
}

.experience-header {
    font-weight: 500;
}

.experience-role {
    margin-top: 5px;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.experience-image {
    margin: 10px;
    height: 23.75rem;
    width: 20.625rem;
}